# Read File draft sharepoint.xlsx

## Import Library

Designed By: Putri Rizqiyah and Collaboration with Mba Dewi

In [1]:
# https://pypi.org/project/Office365-REST-Python-Client/ --> Install Module 0365
from office365.runtime.auth.authentication_context import AuthenticationContext
from office365.sharepoint.client_context import ClientContext
from office365.sharepoint.files.file import File
from office365.sharepoint.files.file import File

## URL Authentication

In [2]:
#https://tmtgroup.sharepoint.com/teams/ECDashboard
#/teams/ECDashboard/Shared Documents/draft sharepoint.xlsx
#https://tmtgroup.sharepoint.com/:x:/r/teams/ECDashboard/Shared%20Documents/draft%20sharepoint.xlsx?d=w667e81229542475c99c76758000f4185&csf=1&web=1&e=GHfPro

url = 'https://xxx.sharepoint.com/teams/ABC'
relative_url = '/teams/ABC/Shared Documents/file.xlsx'
username = '123@abc.co.id'
password = 'ABC23A'
relative_url_1 = '/teams/ABC/Shared Documents/file.xlsx'


ctx_auth = AuthenticationContext(url)
ctx_auth.acquire_token_for_user(username, password)
ctx = ClientContext(url, ctx_auth)
# response = File.open_binary(ctx, "draft sharepoint.xlsx")
# response = File.open_binary(ctx, "teams/ECDashboard/Shared Documents/draft sharepoint.xlsx")

# with open("draft sharepoint.xlsx", "wb") as local_file:
#        local_file.write(response.content)
# df = pd.read_excel('draft sharepoint.xlsx')

C:\Users\Fineoz-DS\Anaconda3\lib\site-packages\cryptography\hazmat\backends\openssl\x509.py:18: CryptographyDeprecationWarning: This version of cryptography contains a temporary pyOpenSSL fallback path. Upgrade pyOpenSSL now.
  utils.DeprecatedIn35,

# Check If URL is working

In [3]:
ctx_auth = AuthenticationContext(url)
if ctx_auth.acquire_token_for_user(username, password):
    ctx = ClientContext(url, ctx_auth)
    web = ctx.web
    ctx.load(web)
    ctx.execute_query()
    print("Web title: {0}".format(web.properties['Title']))

else:
    print(ctx_auth.get_last_error())

Web title: EC Dashboard

## Read File from Sharepoint (draft sharepoint.xlsx)

In [4]:
import io
import pandas as pd

response = File.open_binary(ctx, relative_url)

#save data to BytesIO stream
bytes_file_obj = io.BytesIO()
bytes_file_obj.write(response.content)
bytes_file_obj.seek(0) #set file object to start

#read file into pandas dataframe
df = pd.read_excel(bytes_file_obj)
df

C:\Users\Fineoz-DS\Anaconda3\lib\site-packages\cryptography\hazmat\backends\openssl\x509.py:18: CryptographyDeprecationWarning: This version of cryptography contains a temporary pyOpenSSL fallback path. Upgrade pyOpenSSL now.
  utils.DeprecatedIn35,

,NO,OpportunityID,OpportunityItemNo,SOID,SOItemNo,AccountID,AccountName,sales_off_code,SalesOfficeArea,SalesRepsName,...,ProductDescription,MarketSector,PointOfDelivery,DeliveryDate,NetValue,Currency,ProductHierarchy,FORECAST,sales_type,Vertical_Industry
0,1,50000000,30,0,0,1,TBA,0G31,Northern Kalimantan,NaN,...,320 NG-CFG1B/CAB/HDB 1.19CUM/PLE742,CONSTRUCTION,Balikpapan,2021-09-02,114410.91,USD,M11C0000320NGH,YES,PP,NaN
1,2,50000001,50,0,0,1,TBA,0G31,Northern Kalimantan,NaN,...,320GC-07D/XZ/CAB/GDB 1.0M3/PLE683/783,CONSTRUCTION,Balikpapan,2021-09-02,116949.51,USD,M11C0000320GCNGH,YES,PP,NaN
2,3,50000002,10,0,0,1,TBA,0G32,Northern Kalimantan,NaN,...,320GC-07D/XZ/CAB/GDB 1.0M3/PLE683/783,CONSTRUCTION,Samarinda,2021-09-02,116949.51,USD,M11C0000320GCNGH,YES,PP,NaN
3,4,50000003,20,0,0,1,TBA,0G32,Northern Kalimantan,NaN,...,320GC-07D/XZ/CAB/GDB 1.0M3/PLE683/783,CONSTRUCTION,Samarinda,2021-09-02,116949.51,USD,M11C0000320GCNGH,YES,PP,NaN
4,5,50000004,30,0,0,1,TBA,0G32,Northern Kalimantan,NaN,...,320GC-07D/XZ/CAB/GDB 1.0M3/PLE683/783,CONSTRUCTION,Samarinda,2021-09-02,116949.51,USD,M11C0000320GCNGH,YES,PP,NaN
5,6,50000005,10,0,0,1,PUSH SALES- CV. METRO JASA KENDANAGAN/PAK PIO,0A37,Southern Kalimantan,NaN,...,320GX/CAB/GDB 0.9M3/PL631,AGRICULTURE,Pontianak,2021-10-02,87334.73,USD,M11C0000320GX,YES,PP,NaN
6,7,50000006,10,0,0,1,TBA,0G31,Northern Kalimantan,NaN,...,320GC-07D/XZ/CAB/GDB 1.0M3/PLE683/783,CONSTRUCTION,Balikpapan,2021-10-02,96381.35,USD,M11C0000320GCNGH,YES,PP,NaN
7,8,50000007,10,0,0,1,TBA,0G32,Northern Kalimantan,NaN,...,320GC-07D/XZ/CAB/GDB 1.0M3/PLE683/783,CONSTRUCTION,Samarinda,2021-10-02,96381.35,USD,M11C0000320GCNGH,YES,PP,NaN
8,9,50000008,10,0,0,1,PUSH SALES,0F28,Southern Sumatera,NaN,...,305.5E2/CAB/GDB 0.22 CUM/PL243,CONSTRUCTION,Bengkulu,2021-10-02,97993.50,USD,M13C00305.5E2,YES,PP,NaN
9,10,50000009,10,0,0,1,PUSH SALES,0F28,Southern Sumatera,NaN,...,DG/C15/400EKW/400V 50HZ P SF T,ELECTRIC POWER GENERATION,Bengkulu,2021-10-02,55890.60,USD,E11B0000C15-400,YES,PP,NaN

### Read File from Sharepoint (Product Group Mapping.xlsx)

In [5]:
import io
import pandas as pd

response = File.open_binary(ctx, relative_url_1)

#save data to BytesIO stream
bytes_file_obj = io.BytesIO()
bytes_file_obj.write(response.content)
bytes_file_obj.seek(0) #set file object to start

#read file into pandas dataframe
df_1 = pd.read_excel(bytes_file_obj)
df_1

C:\Users\Fineoz-DS\Anaconda3\lib\site-packages\cryptography\hazmat\backends\openssl\x509.py:18: CryptographyDeprecationWarning: This version of cryptography contains a temporary pyOpenSSL fallback path. Upgrade pyOpenSSL now.
  utils.DeprecatedIn35,

                 Family Model Product Group
0                    MG    14            GCI
1                    MG    16            GCI
2                    MG    18            GCI
3                    MG    24            GCI
4                    MG   140            GCI
..                  ...   ...            ...
161  LANDFILL COMPACTOR   836     INDUSTRIAL
162         WHEEL DOZER   814     INDUSTRIAL
163         WHEEL DOZER   824     INDUSTRIAL
164         WHEEL DOZER   834     INDUSTRIAL
165         WHEEL DOZER   844     INDUSTRIAL

[166 rows x 3 columns]

# Exploratory Data Analysis

## Check Data Type

In [6]:
dataTypeSeries = df.dtypes
print('Data type of each column of Dataframe :')
print(dataTypeSeries)

Data type of each column of Dataframe :
NO                             int64
OpportunityID                  int64
OpportunityItemNo              int64
SOID                           int64
SOItemNo                       int64
AccountID                      int64
AccountName                   object
sales_off_code                object
SalesOfficeArea               object
SalesRepsName                float64
SalesExecutiveName           float64
OpportunityType               object
ProductModel                  object
ProductDescription            object
MarketSector                  object
PointOfDelivery               object
DeliveryDate          datetime64[ns]
NetValue                     float64
Currency                      object
ProductHierarchy              object
FORECAST                      object
sales_type                    object
Vertical_Industry            float64
dtype: object

In [7]:
df['SalesRepsName']

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
Name: SalesRepsName, dtype: float64

In [8]:
#AccountID -> string
# SalesRepsName ->string
# SalesExecutiveName -> string
# DeliveryDate -> date
# Currency -> string
# Vertical_Industry -> string
# Change data type
# https://www.geeksforgeeks.org/change-the-data-type-of-a-column-or-a-pandas-series/
df.AccountID = df.AccountID.astype(str)
df.SalesRespName = df.SalesRepsName.astype(str)
df.SalesExecutiveName = df.SalesExecutiveName.astype(str)
df.Currency = df.Currency.astype(str)
df.Vertical_Industry = df.Vertical_Industry.astype(str)

C:\Users\Fineoz-DS\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  # Remove the CWD from sys.path while we load stuff.

In [9]:
dataTypeSeries = df.dtypes
print('Data type of each column of Dataframe :')
print(dataTypeSeries)

Data type of each column of Dataframe :
NO                             int64
OpportunityID                  int64
OpportunityItemNo              int64
SOID                           int64
SOItemNo                       int64
AccountID                     object
AccountName                   object
sales_off_code                object
SalesOfficeArea               object
SalesRepsName                float64
SalesExecutiveName            object
OpportunityType               object
ProductModel                  object
ProductDescription            object
MarketSector                  object
PointOfDelivery               object
DeliveryDate          datetime64[ns]
NetValue                     float64
Currency                      object
ProductHierarchy              object
FORECAST                      object
sales_type                    object
Vertical_Industry             object
dtype: object

In [10]:
dataTypeSeries = df_1.dtypes
print('Data type of each column of Dataframe :')
print(dataTypeSeries)

Data type of each column of Dataframe :
Family            object
Model             object
Product Group     object
dtype: object

## Check Null Value

In [11]:
df.isnull().sum()

NO                     0
OpportunityID          0
OpportunityItemNo      0
SOID                   0
SOItemNo               0
AccountID              0
AccountName            0
sales_off_code         0
SalesOfficeArea        0
SalesRepsName         10
SalesExecutiveName     0
OpportunityType        0
ProductModel           0
ProductDescription     0
MarketSector           0
PointOfDelivery        0
DeliveryDate           0
NetValue               0
Currency               0
ProductHierarchy       0
FORECAST               0
sales_type             0
Vertical_Industry      0
dtype: int64

In [12]:
df_1.isnull().sum()

Family            0
Model             0
Product Group     0
dtype: int64

## Fill Null Value and Change Data Type

In [13]:
# values = {'SalesRepsName': 0, 'SalesExecutiveName': 0, 'Vertical_Industry': 0}
# df.fillna(value=values)
# df
df['SalesRepsName'].fillna(0, inplace = True)
df['SalesRepsName']

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: SalesRepsName, dtype: float64

In [14]:
df['SalesRepsName'] = df['SalesRepsName'].to_string()
dataTypeSeries = df.dtypes
print('Data type of each column of Dataframe :')
print(dataTypeSeries)

Data type of each column of Dataframe :
NO                             int64
OpportunityID                  int64
OpportunityItemNo              int64
SOID                           int64
SOItemNo                       int64
AccountID                     object
AccountName                   object
sales_off_code                object
SalesOfficeArea               object
SalesRepsName                 object
SalesExecutiveName            object
OpportunityType               object
ProductModel                  object
ProductDescription            object
MarketSector                  object
PointOfDelivery               object
DeliveryDate          datetime64[ns]
NetValue                     float64
Currency                      object
ProductHierarchy              object
FORECAST                      object
sales_type                    object
Vertical_Industry             object
dtype: object

In [15]:
df.isnull().sum()

NO                    0
OpportunityID         0
OpportunityItemNo     0
SOID                  0
SOItemNo              0
AccountID             0
AccountName           0
sales_off_code        0
SalesOfficeArea       0
SalesRepsName         0
SalesExecutiveName    0
OpportunityType       0
ProductModel          0
ProductDescription    0
MarketSector          0
PointOfDelivery       0
DeliveryDate          0
NetValue              0
Currency              0
ProductHierarchy      0
FORECAST              0
sales_type            0
Vertical_Industry     0
dtype: int64

## Rename Column

In [16]:
# # https://datascienceparichay.com/article/pandas-rename-column-names/
# df_1 = df_1.set_axis(["Family", "Model", "Product_Group"], axis=1)
# df_1

## Set Up SQL Server Connection

In [17]:
# import pyodbc



# conn = pyodbc.connect('Driver={SQL Server};'
#                       'Server=DESKTOP-FE21I1E;'
#                       'Database=mst;'
#                       'Trusted_Connection=yes;')
# cursor = conn.cursor()

In [ ]:
import urllib
import pymssql
from sqlalchemy import create_engine

server_name = ""
username    = ""
password    = ""
database    = ""
# host        = ""

# Create sqlalchemy engine
string_param    = "DRIVER={ODBC+Driver+17+for+SQL+Server};SERVER="+host+";DATABASE="+database+";UID="+username+";PWD="+password+""
params          = urllib.parse.quote_plus(string_param)
complete_param  = "mssql+pyodbc:///?odbc_connect={}".format(params)
engine          = create_engine(complete_param, fast_executemany=True)

conn =  pymssql.connect(
#                         host     = host, 
                        server   = server_name, 
                        user     = username, 
                        password = password,
                        database = database)

cursor = conn.cursor()

## Insert Data into SQL Server Table

### draft sharepoint.xlsx

In [ ]:
# for row in df.itertuples():
#     cursor.execute("""
#                 INSERT INTO forecast_script (OpportunityID, OpportunityItemNo, SOID,SOItemNo, AccountID,AccountName,
#                 sales_off_code, SalesOfficeArea, SalesRepsName, SalesExecutiveName,OpportunityType, 
#                 ProductModel,
#                 ProductDescription, MarketSector, PointOfDelivery, DeliveryDate, NetValue, Currency, ProductHierarchy,
#                 Forecast, sales_type, VerticalIndustry)
#                 VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)
#                 """,
#                 row.OpportunityID,
#                 row.OpportunityItemNo,
#                 row.SOID,
#                 row.SOItemNo,
#                 row.AccountID,
#                 row.AccountName,
#                 row.sales_off_code,
#                 row.SalesOfficeArea,
#                 row.SalesRepsName,
#                 row.SalesExecutiveName,
#                 row.OpportunityType,
#                 row.ProductModel, #12                 
#                 row.ProductDescription,
#                 row.MarketSector,
#                 row.PointOfDelivery,
#                 row.DeliveryDate,
#                 row.NetValue,
#                 row.Currency,
#                 row.ProductHierarchy,
#                 row.FORECAST,
#                 row.sales_type,
#                 row.Vertical_Industry
#                 )
# conn.commit()

In [33]:
for row in df.itertuples():
    cursor.execute("""
                INSERT INTO forecast_script (OpportunityID,OpportunityItemNo,SOID,SOItemNo,AccountID,AccountName,sales_off_code,SalesOfficeArea,SalesRepsName,SalesExecutiveName,OpportunityType,ProductModel,ProductDescription,MarketSector,PointOfDelivery,DeliveryDate,NetValue,Currency,ProductHierarchy,FORECAST,sales_type,VerticalIndustry)
                VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
                """,
                (row.OpportunityID,   
                row.OpportunityItemNo, 
                row.SOID,
                row.SOItemNo,
                row.AccountID,
                row.AccountName,
                row.sales_off_code,
                row.SalesOfficeArea,
                row.SalesRepsName,   
                row.SalesExecutiveName,
                row.OpportunityType,
                row.ProductModel,
                row.ProductDescription,
                row.MarketSector,
                row.PointOfDelivery,
                row.DeliveryDate,
                row.NetValue,
                row.Currency,
                row.ProductHierarchy,
                row.FORECAST,
                row.sales_type,
                row.Vertical_Industry)   
                )
conn.commit()

In [34]:
# for row in df.itertuples():
#     cursor.execute(
#                     """INSERT INTO forecast_script (OpportunityID, OpportunityItemNo, SOID, SOItemNo, AccountID, AccountName, sales_off_code,SalesOfficeArea,SalesRepsName,SalesExecutiveName,OpportunityType,ProductModel,ProductDescription,MarketSector,PointOfDelivery,DeliveryDate) 
#                     VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)""", 
#                     (row.OpportunityID,   
#                     row.OpportunityItemNo, 
#                     row.SOID,
#                     row.SOItemNo,
#                     row.AccountID,
#                     row.AccountName,
#                     row.sales_off_code,
#                     row.SalesOfficeArea,
#                     row.SalesRepsName,
#                     row.SalesExecutiveName,
#                     row.OpportunityType,
#                     row.ProductModel,
#                     row.ProductDescription,
#                     row.MarketSector,
#                     row.PointOfDelivery,
#                     row.DeliveryDate,
                    
#                     ))
# conn.commit()

### Product Group Mapping.xlsx

In [ ]:
# for row in df_1.itertuples():
#     cursor.execute("""
#                 INSERT INTO Product_Group_Mapping (Family, Model, [Product Group])
#                 VALUES (?,?,?)
#                 """,
#                 row.Family,
#                 row.Model,
#                 row.Product_Group,               
#                 )
# conn.commit()

In [ ]:
# df.drop(['NO'], axis=1)

In [ ]:
# for row in df.itertuples():
#     cursor.execute("INSERT INTO forecast_script (OpportunityID) values (?)",row.OpportunityID)
# conn.commit()